/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para body y html */
body, html {
    background-color: #FFFFFF;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ajustado a 100vh en lugar de 100% */
    margin: 0; /* Añadido para asegurar que no haya margen externo */
    position: relative; /* Añadido para asegurar que el footer respete el contenido */
}

/* Estilo para el header */
header {
    background-color: #00338D;
    color: #FFFFFF;
    padding: 10px;
    font-size: 14px;
    text-align: left;
    font-family: 'Myriad Pro Italic', Arial, sans-serif;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    z-index: 2; /* Añadido para asegurar que esté sobre la barra lateral */
}

header .Superior {
    display: flex;
    align-items: center;
}

header img.logo {
    margin-right: 20px;
    width: 50px;
    height: auto;
}

/* Estilo para el botón de cerrar sesión */
#logout-button {
    background-color: RGB(240,171,0);
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Agregado para la transición */
}

#logout-button:hover {
    background-color: #009FDA;
}

/* Estilo para la barra lateral */
.sidebar {
    background-color: #cee4ff; /* Fondo transparente */
    width: 240px; /* Ancho inicial de la barra lateral */
    height: 100vh; /* Ajustado a 100vh para ocupar toda la altura de la ventana */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    font-weight: bold;
    overflow-y: auto;
    padding-top: 60px;
    transition: width 0.3s ease; /* Transición para el cambio de tamaño */
}

.sidebar.collapsed {
    width: 60px; /* Ancho reducido de la barra lateral cuando está colapsada */
}

.sidebar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Asegura que el botón ocupe el ancho completo de la barra lateral */
    padding: 10px 0; /* Añade un poco de padding para darle espacio alrededor */
    background-color: #00348d00; /* Fondo del botón */
    border: none; /* Eliminar el borde del botón */
    cursor: pointer; /* Añadir cursor pointer al botón */
}

.sidebar button img {
    width: 30px; /* Tamaño del icono */
    height: auto; /* Mantener proporción del icono */
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
    position: relative;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidebar nav ul li a img {
    margin-right: 10px;
}

.sidebar nav ul li a span {
    display: inline; /* Mostrar el texto por defecto */
    transition: display 0.3s ease; /* Transición para el cambio de visibilidad */
}

.sidebar nav ul li ul.submenu {
    display: none;
    background-color: RGB(0,159,218);
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
}

.sidebar nav ul li:hover ul.submenu {
    display: block;
}

.sidebar nav ul li ul.submenu li {
    margin: 0;
}

.sidebar nav ul li ul.submenu li a {
    color: #FFFFFF;
    padding: 10px;
}

.sidebar nav ul li ul.submenu li a:hover {
    background-color: #444444;
}

/* Estilo para el contenido central */
.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-left: 240px; /* Ajustado para dejar espacio a la barra lateral */
    width: calc(100% - 240px); /* Ajustado para dejar espacio a la barra lateral */
}

/* Estilo para el texto dinámico */
.static-text,
.changing-text {
    font-family: 'Myriad Pro', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    white-space: nowrap;
    transition: opacity 0.3s ease; /* Transición para la opacidad */
    opacity: 1; /* Asegura que el texto sea visible por defecto */
}

.static-text {
    color: rgb(0, 51, 141);
}

.changing-text {
    color: rgb(240, 171, 0);
}

.letter {
    display: inline-block;
    transform-origin: 50% 50%;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto; /* Empuja el pie de página al fondo */
    position: relative; /* Añadido para asegurar que el footer esté en su lugar correcto */
    z-index: 2; /* Añadido para asegurar que esté sobre la barra lateral */
}

/* Estilo responsivo para pantallas pequeñas */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding-top: 0;
    }
    .center-content {
        width: 100%;
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
    }
}
